#background-image-create{
    float : right;
    max-width: 50%;
    min-height: 939px;
    border-top-left-radius: 300px 100%;
    border-bottom-left-radius: 100px 100%;
    padding-top: 86px;
}

@media (max-width:768px){
    #background-image-create{
        display: none;
    }
}